.friend-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #f4f4fd;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.item {
  width: 200px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 20px;
}

.online {
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 50%;
  margin-right: 10px;
}

.offline {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  margin-right: 10px;
}

.avatar {
  margin-right: 10px;
}

.name {
  font-size: 16px;
}
